.nav{
    
    list-style: none;
   
    margin-left: 30%;
    display:flex;
    justify-content: center;
    color: black;
    align-items: center;
}

.nav a{
    text-decoration: none;
    color: white;
    margin-left: 5%;
    
}

.nav :hover{
    background-color: darkslategray;
}

.titulo{
    display: flex;
    color: white;
    margin-left: 2%;
}
.navbar{
    display: flex;
    background-color: #282c34;
}