.nav{
    list-style: none;
    margin-left: 25%;
    display:flex;
    justify-content: center;
    color: black;
    align-items: center;
}

.nav a{
    text-decoration: none;
    color: white;
    margin-left: 4%;
}

.nav :hover{
    background-color: darkslategray;
}

.titulo{
    display: flex;
    color: white;
    margin-left: 2%;
}

.navbar{
    display: flex;
    background-color: #282c34;
}

.img-carrito{
    width: 3%;
    height: 3%;
    margin-top: 2.5%;
    margin-left: 28%;
}